.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-width: 3px;
    border-style: solid;
    margin: 10px;
}

h1 {
    margin-left: 3rem;
}

.box1 {
    background-color: skyblue;
    padding: 100px;
    margin: 30px 50px;
    border-width: 2px;
    border-style: solid;
    animation: box1 5s infinite;
}

@keyframes box1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box2 {
    background-color: skyblue;
    padding: 100px;
    margin: 30px 50px;
    border-width: 2px;
    border-style: solid;
    animation: box2 5s infinite;
}

@keyframes box2 {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(70deg);
    }
}

.box3 {
    background-color: skyblue;
    padding: 100px;
    margin: 30px 50px;
    border-width: 2px;
    border-style: solid;
}

.box3:hover {
    cursor: pointer;
    transform: scaleX(1.1);
    transform: scaleY(1.1);
}

.box4 {
    background-color: skyblue;
    padding: 100px;
    margin: 30px 50px;
    border-width: 2px;
    border-style: solid;
    animation: box4 5s infinite;
}

@keyframes box4 {
    from {
        transform: skewX(30deg);
    }
    to {
        transform: skewX(-30deg);
    }
}

.box5 {
    background-color: skyblue;
    padding: 100px;
    margin: 30px 50px;
    border-width: 2px;
    border-style: solid;
    animation: box5 5s infinite;
}

@keyframes box5 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(40px, 100px);
    }
}

.box6 {
    background-color: skyblue;
    padding: 100px;
    margin: 30px 50px;
    border-width: 2px;
    border-style: solid;
    animation: box6 3.3s ease infinite alternate;
}

.box6-5 {
    background-color: skyblue;
    padding: 100px;
    margin: 30px 50px;
    border-width: 2px;
    border-style: solid;
    transform-origin: center top;
    animation: box6 3.3s ease infinite alternate;
}

@keyframes box6 {
    from {
        transform: rotate(18deg);
    }
    to {
        transform: rotate(-18deg);
    }
}

.box7 {
    background-color: skyblue;
    padding: 100px;
    margin: 30px 50px;
    border-width: 2px;
    border-style: solid;
    transform: 
        scale(0.75)
        rotateY(-30deg)
        rotateX(45deg)
        translateZ(4.5rem);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
    transition: 0.6s ease transform;
}

.box7:hover {
    transform: scale(1);
}

.box7::before {
    transform: translateZ(4rem);
}
.box7:hover::before {
    transform: translateZ(0);
}

.box7::after {
    transform: translateZ(-4rem);
}
.box7:hover::after {
    transform: translateZ(-1px);
}